.sc-brqgnP {
  border: 1px solid;
}
.page {
  padding: 30px;
  margin: 5% 10%;
  background-color: beige;
  max-height: 620px;
  overflow: auto;
}

.login-page,
.signup-page {
  margin: 5% 30%;
  text-align: center;
}

.login-do-not-have-account {
  margin: 20px;
}

.tabs {
  padding: 10px;
}

.tabs .tab-element {
  margin: 5px;
}

.signup-btn {
  margin: 20px;
}

.logout-button {
  height: 43px;
  margin: 15px;
  right: 25px;
  float: right;
}

.already-have-account-link {
  margin: 20px;
}

.text-input {
  padding: 10px;
}

.top-nav-bar {
  padding: 5px;
  width: 100%;
  border: 1px solid;
  background: beige;
  display: flex;
}

.articles .article-item {
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.articles .article-item:hover {
  background-color: aliceblue;
}

.articles .articles-content {
  margin: 20px;
  padding: 15px;
  padding-top: 60px;
}

.articles .articles-header {
  padding-left: 40px;
  display: flex;
  justify-content: space-evenly;
}

.articles .articles-header .article-header--search {
  width: 50%;
  display: flex;
  justify-content: center;
} 

.articles .articles-header #example-select-1 {
  flex-direction: row;
  align-items: center;
}

.logout-content {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

.logout-content .logged-in-as-text {
  padding-right: 30px;
}
