.page {
  padding: 30px;
  margin: 5% 10%;
  text-align: center;
  background-color: beige;
}

.login-do-not-have-account {
  margin: 20px;
}

.tabs {
  padding: 10px;
}

.tabs .tab-element {
  margin: 5px;
}

.signup-btn {
  margin: 20px;
}

.logout-button {
  height: 43px;
  margin: 15px;
  bottom: 70px;
  right: 25px;
  float: right;
}

.already-have-account-link {
  margin: 20px;
}

.text-input {
  padding: 10px;
}

.top-nav-bar {
  padding: 20px;
  width: 100%;
  border: 1px solid;
  background: beige;
}
